@font-face {
    font-family: 'Marcellus';
    src: url('../fonts/Marcellus-Regular.ttf')format('truetype');
}

@font-face {
    font-family: 'Libre';
    src: url('../fonts/LibreBodoni-VariableFont_wght.ttf')format('truetype');
}

@font-face {
    font-family: 'LibreBask';
    src: url('../fonts/LibreBaskerville-Regular.ttf')format('truetype');
}

@font-face {
    font-family: 'Alef';
    src: url('../fonts/Alef-Regular.ttf')format('truetype');
}

@font-face {
    font-family: 'PlayFair';
    src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf')format('truetype');
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container{
    display: flex;
    margin: 0;
    height: 14vh;
}

header .flex{
    width: 100%;
}

header{
    /* position: fixed; */
    width: 100%;
    transition: .5s;
    
    background-image: url(midia/header-v.png);
    background-position-y: 36%;
    background-repeat: no-repeat;
    background-size: cover;

}

header .container img{
    margin-left: 6vw;
    transition: transform 0.3s;
    width: 30%;
    filter: drop-shadow(3px 6px 5px rgba(0, 0, 0, 0.219));
}


header.rolagem{
    transition: .5s;
    background-color: rgba(58, 207, 58, 0.514);
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #7b994fde;
    padding: 0;
}

header .container img:hover{
    transform: scale(1.2);
}

#navbar{
    margin-right: 4vw;
    transition: transform .5s;
}

header ul{
    list-style: none;
}

header ul li{
    display: inline-block;
    margin: 0 1vw 0;
}

header ul li a{
    filter: drop-shadow(3px 6px 5px rgba(0, 0, 0, 0.247));
    font-family: 'PlayFair';
    font-weight: normal;
    font-size: clamp(1rem, 1.2vw + 0.1rem, 3rem);
    text-decoration: none;
    color: white;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s ease, font-size .5s ease;

    
}

header ul li a:hover{
    /* font-size: 1.15rem; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.404);
}

header ul li a:active{
    color: rgb(197, 197, 197);
}


main{
    margin: 20px auto;
    width: 90vw;
}

main h1{
    font-family: "Marcellus";
    font-weight: lighter;
    text-align: center;
}


main h1 strong{
    font-weight: lighter;
    color: #7b994f;
}

#form{
    margin-top: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.campo{
    display: flex;

    gap: 15px;
    margin: 10px auto
}

.campo .input{
    color: rgb(207, 203, 203);
    background-color: #7B994F;

    width: 30vw;
    max-width: 300px;
    
    height: 4vh;
    padding: 5px 15px;

    border: none;
    border-radius: 20px;

    text-align: start;
}

.campo div{
    font-family: "Marcellus";
    font-size: 13.5pt;

    text-align: end;
    width: 173px;
}

.campo #tfile{
    display: flex;
    align-items: center;

    gap: 8px;
}

#tfile #desc{
    font-style: italic;
    font-size: 9.5pt;
    text-align: start;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.campo #tfile img{
    width: 25px;
}

.check{
    font-family: "Marcellus";
    font-size: 11pt;
}

.containerM{
    text-align: center;
}

.containerCheck{
    margin: 20px auto;

    display: flex;
    align-items: start;
    flex-direction: column;
}

#button{
    font-family: "Marcellus";
    font-weight: bold;
    font-size: 12pt;
    
    color: white;
    background-color: #7b994f;

    border: none;
    
    padding: 10px 15px;
    border-radius: 10px;
}

#button:active{
    background-color: #5b7436;
    padding: 9px 14px;
}